p{
     word-break:break-all;
      width:90%;
    padding-left:20px;
}

ion-item{
    word-break:break-all;
}

#about{
    width:90%;
    padding-left:20px;
}

h2{
    padding-left:20px;
}

ion-item{
    padding:10px;
    margin:10px;
}

// .scroll-content{
//     background:royalblue;
// }