page-home {

}

#bodyContent{
}

// #logo{
//     max-width: 90%;
//     max-height: 100%;
// }

#imgContainer{
    max-height: 70%;
    align-items: center;
    align-content: center;
    text-align: center;
}

#canvas{
    text-align: center;
    padding:30px;
    margin-top:30px;
}

button{
    height:25px;
    margin:5px;
}