.imgContainer{
    max-height:60%;
}

.imgContainer {
    width:100%;
    height:50%;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

div > img {
    position:absolute;
    top:50%;
    min-height:100%;
    display:block;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    min-width:auto;
    width:auto;
}

.btnContainer{
    text-align: center;
    align-content: center;
}