<ion-header>
  <ion-navbar>
    <ion-title>
      Galerija fotografija korisnika
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="photosInformations[index]" class="imgContainer">
      <img [src] = "baseUrl + photosInformations[index].Name">
    </div>
    <div *ngIf="photosInformations[index]" class="btnContainer">
      <button ion-button color="danger" (click)="previousImage()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <button ion-button color="danger" (click)="nextImage()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </div>

  <button ion-button block color="danger" item-right icon-left   (click) ="takePicture(1)">
              <ion-icon name="camera"></ion-icon>
              Nova fotografija
  </button>
  
  <button ion-button block color="primary" item-right icon-left (click) = "takePicture(0)">
      <ion-icon name="photos"></ion-icon>
      Galerija
  </button>

    <button ion-button block color="danger" item-right icon-left  (click) ="upload()">
              <ion-icon name="arrow-up"></ion-icon>
                          Objavi
    </button>

    <br>

    <div id="socialNetworkShare">
      <button ion-button  color="primary" item-right icon-left (click) = "socialNetworkShare('instagram')">
        <ion-icon name="logo-instagram"></ion-icon>
      </button>
       <button ion-button  color="primary" item-right icon-left (click) = "socialNetworkShare('facebook')">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
       <button ion-button  color="primary" item-right icon-left (click) = "socialNetworkShare('twitter')">
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
    </div>

</ion-content>
