ion-app._gmaps_cdv_ .nav-decor {
  background-color: transparent !important;
}

#placeMap {
  height: 40%;
}

#bodyContent
{
    padding:2px;
}

.leftSideButtons
{
  height:30%;
  width:50%;
  float: left;
}

.rightSideButtons
{
  height:30%;
  width:50%;
  float: right;
}

#placeName{
  position:center;
  text-align: center;
  align-content: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size:27px;
  box-shadow: 2px;
  margin-left:12px;
}

#nameCont{
  float:left;
  margin-right: 5px;
  
}

#callNumbBtn{
  padding-top:5px;
  margin-top:6px;
}

.btns{
  padding-top:7px;
  min-height: 20px;
}

.button-inner{
  padding-top:5px;
  padding-bottom:5px;
}

ion-col{
  text-align: center;
  box-shadow: 1px 1px 1px rgb(128,128,128);
}