ion-app._gmaps_cdv_ .nav-decor {
  background-color: transparent !important;
}

#placeMap {
  height: 45%;
}

#bodyContent
{
    padding:2px;
}

.leftSideButtons
{
  height:30%;
  width:50%;
  float: left;
}

.rightSideButtons
{
  height:30%;
  width:50%;
  float: right;
}

#placeName{
  position:center;
  text-align: center;
  align-content: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:27px;
  box-shadow: 1px;
}