ion-app._gmaps_cdv_ .nav-decor {
  background-color: transparent !important;
}

#placeMap {
  height: 40%;
}

#bodyContent
{
    padding:2px;
}

.leftSideButtons
{
  height:30%;
  width:50%;
  float: left;
}

.rightSideButtons
{
  height:30%;
  width:50%;
  float: right;
}