ion-navbar, ion-header{
    background-color:lightblue;
}

// #restaurantDetails{
//     border: 1px solid grey;
// }

ion-card{
    padding:7px;
}

h1, h2, h3, h4{
    display:inline;
}

h4, h3{
    font:bold;
}

#km{
    float:right;
}